<div class="accordion-body">
    <div class="accordion">
      <h1>Hvorfor råbygg?</h1>
      <hr>
      <div class="container">
        <div class="label">Kort byggetid</div>
        <div class="content">Elementhus er prefabrikkerte, noe som betyr at de er bygget i fabrikker og deretter transportert til byggeplassen for montering. Dette reduserer byggetiden betydelig sammenlignet med tradisjonelle byggemetoder.</div>
      </div>
      <hr>
      <div class="container">
        <div class="label">Kvalitet</div>
        <div class="content"> Elementhus bygges under kontrollerte forhold i fabrikker, noe som bidrar til å sikre høy kvalitet og nøyaktighet i byggeprosessen.</div>
      </div>
      <hr>
      <div class="container">
        <div class="label">Økonomi og lav risiko</div>
        <div class="content">Selv om prisen kan variere avhengig av flere faktorer, inkludert størrelse, design og materialvalg, kan elementhus være kostnadseffektive på grunn av redusert byggetid og mindre avfall.</div>
      </div>
      <hr>
      <div class="container">
        <div class="label">Miljø og sikkerhet</div>
        <div class="content">Elementhus kan være mer miljøvennlige enn tradisjonelle byggemetoder på grunn av redusert byggeavfall og bedre materialutnyttelse i fabrikkene.
      </div>
    </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let labels = document.querySelectorAll('.accordion .label');
            labels.forEach(label => {
                label.addEventListener('click', () => {
                    const container = label.parentElement;
                    container?.classList.toggle('active');
                });
            });
        });
        
    </script>
    

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


  :root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}

h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 1.6em;
}

.accordion-body {
  padding: 10px;
}

.accordion {
    margin: 20px auto;
    color: black;
    background-color: #6f926ca6;
    padding: 10px 10px;
    border-radius: 12px;
}

@media (min-width: 1024px) {
  .accordion {
    width: 40%;
  }

}

@media (max-width: 600px) {
    .accordion {
      padding: 20px;
    }
  
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
  word-wrap: break-word;
}

.accordion .label {
  position: relative;
  padding: 20px 0;
  font-size: 1.1em;
  color: black;
  cursor: pointer;
}

.accordion .label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 1.6em;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .accordion .label::before {
    right: -20px;
    font-size: 1.2em;
  }
}

.accordion .content {
  position: relative;
  background-color: #4b6d48a6;
  height: 0;
  font-size: 20px;
  text-align: left;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100%;
  margin-left: 0;
  border: 1px solid black;
}

.accordion .container.active .content {
  height: 200px;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}

</style>