<footer class="footer">
    <div class="footer-content">
        <p>Kontakt oss:</p>
        <ul class="contact-info">
            <li>Email: info@example.com</li>
            <li>Phone: +12345678</li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 NT Bolig</p>
    </div>
</footer>

<style>
    .footer {
        background-color: rgba(52, 56, 65, 1);
        color: #fff;
        padding: 20px 0;
        text-align: center;
        width: 100%;
    }

    .footer-content {
        margin-bottom: 20px;
    }

    .footer-bottom {
        font-size: 0.8rem;
    }

    .contact-info {
        list-style: none;
        padding: 0;
    }

    .contact-info li {
        margin-bottom: 5px;
    }
</style>
