<header class="header">
    <div class="logo">
        <a href="/">
            <img class="logos" src="./brev.png" alt="Logo">
        </a>    
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="/tjenester/">Tjenester</a></li> 
            <li><a href="/om-oss/">Om oss</a></li> 
            <li><a href="/kontakt-oss/">Kontaks oss</a></li> 
        </ul>
  </nav>
</header>
    


<style>
    
.header {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  max-height: 100px;
}

.logos {
    height: 65px;
    width: 80px;
}

.site-navigation ul, 
.site-navigation li {
}

.site-navigation li {
  display: inline-block;
  margin: 0 1em 0.5em 1.5em;
}

a {
  text-decoration: none;
  color: white;
}



</style>