---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import iph from '../assets/iph.png';
import yy from '../assets/yy.png';
import eidsvoll from '../assets/eidvoldbror.jpeg';

---

<Layout title="NT Bolig - Kontakt oss">
	<Header backgroundColor="var(--bg-color-light)" border='none'/>
	<main>
        <section class="intro-section">
            <div class="intro-text">
                <h1>Kontakt oss gjerne for en uforpliktende samtale</h1>
				<p>Vi skreddersyr leveransen etter dine ønsker</p>
            </div>
            <div class="intro-image">
                <Image src={eidsvoll} alt="Snaroya" loading="eager"/>
            </div>
        </section>
		<section class="contact-section">
			<div class="contact-info">
				<div class="contact-info-item">
					<h2>Email oss</h2>
					<div class="contact-details">
						<Image src={yy} alt="Email Icon" class="icon" loading="lazy"/>
						<p><a href="mailto:someone@yoursite.com">natnaet@bluebirdgroup.no</a></p>
					</div>
				</div>
				<div class="contact-info-item">
					<h2>Ta kontakt på telefon</h2>
					<div class="contact-details">
						<Image src={iph} alt="Phone Icon" class="icon" loading="lazy"/>
						<p>+41377837</p>
					</div>
				</div>
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.3383295159015!2d10.725348677399293!3d59.92652796307511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416dd80e69970f%3A0x6c4ccdc95f6d4c1a!2sPilestredet%2075C%2C%200354%20Oslo!5e0!3m2!1sno!2sno!4v1712447180052!5m2!1sno!2sno" width="400" title="maps" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</section>
	</main>
   <Footer/>
</Layout>

<style>

	:root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}

	main {
		background-color: var(--bg-color);
		font-size: 22px;
		font-family: "El Messiri", Sans-serif;
	}

	.intro-section {
		display: flex;
		align-items: center;
		text-align: center;
	}

	.intro-text, .intro-image {
		width: 50%;
	}

	.intro-text h1 {
		color: #b7a388;
		font-family: "El Messiri", Sans-serif;
	}

	.intro-text p {
		color: #7F7A77;
		font-size: 1.1em;
	}

	.intro-text {
		padding-right: 10px;
	}

	.intro-image {
		padding-left: 10px;
	}

	.intro-image img {
		width: 100%;
		max-height: 800px;
		object-fit: cover;
		border-radius: 8px;
	}

	.contact-section {
		margin: 1.8em auto 0 auto;
		padding: 40px;
	}

	.contact-section h3 {
		color: white;
		text-align: center;
		padding: 8px;
	}

	h1 {
		font-size: 3rem;
		font-weight: 700;
		padding-top: 30px;
		color: white;
	}

	.contact-info {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 60px;
	}

	.contact-details {
		display: flex;
		align-items: center;
	}

	.icon {
		width: 30px;
		height: 30px;
		margin-right: 8px;
	}

	h2 {
		font-size: 1.5rem;
		color: white;
	}

	p, a {
		font-size: 1.1rem;
		color: white;
		text-decoration: none;
		transition: color 0.2s ease;
	}

	a:hover {
    	color: rgb(144, 134, 134);
	}

	iframe {
		display: flex;
		width: 50%; /* Adjust as needed */
		height: 50%; /* Adjust as needed */
		min-width: 300px; /* Adjust as needed */
		min-height: 300px; /* Adjust as needed */
		margin: 0 auto; /* Centers the iframe */
		padding-top: 20px;
	}


	
	@media (max-width: 768px) {
		.contact-info {
			flex-direction: column;
		}

		.contact-info-item {
			width: 100%;
		}

		.intro-text h1 {
			padding-top: 60px;
			font-size: 1.7em;
		}

		.intro-image {
			width: 100%;
			min-width: 335px;
		}
	}

	@media (max-width: 1024px) {
    .intro-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

	.intro-text h1 {
			padding-top: 60px;
		}

    .intro-image {
        display: flex;
        justify-content: center;
		width: 70%;
    }

    .intro-image img {
        width: 100%;
        height: auto;
    }
}

</style>
