---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="NT Bolig - Om oss">
	<main>
		<div class="ok">
			<Header />
		</div>
	</main>
</Layout>

<style>
	main {
		color: darkolivegreen;
		font-size: 22px;
		height: 95vh;
		font-family: serif;
	}

	.ok {
		position: relative;
		width: 100%;
		height: 100%;
	}
</style>
