---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import bre from '../assets/bre.jpg';
import halden5 from '../assets/halden5.jpg';
import eidsvoll from '../assets/eidvoldbror.jpeg';
import document from '../assets/document.png';

---

<Layout title="NT Bolig - Salg av huselementer">
    <Header position="absolute"/>
    <main>
        <div class="container">
            <div class="image-container">
				<Image src={bre} class="darkened" alt="" loading="eager" />
                <div class="content-wrapper">
                        <h1 class="headline">Velkommen til NT Bolig</h1>
                        <h2>Eiendomsutvikling og eiendomstjenester</h2>
                    <div class="button-container">
                        <button class="scroll-button">Les mer</button>
                    </div>
                </div>
            </div>
        </div>
		<div id="target-section" class="conteez">
			<h2 class="counters">Til dags dato</h2>
			<div class="conteez-grid">
				<div class="text-center animate">
					<p class="font-bold">10+</p>
					<p class="font-semibold">Pågående</p>
					<p class="text-2xl">prosjekter</p>
				</div>
				<div class="text-center animate">
					<p class="font-bold">150+</p>
					<p class="font-semibold">Ulike</p>
					<p class="text-2xl">Hus elementer levert</p>
				</div>
				<div class="text-center animate">
					<p class="font-bold">25+</p>
					<p class="font-semibold">Prosjekter</p>
					<p class="text-2xl">gjennomført</p>
				</div>
				<div class="text-center animate">
					<p class="font-bold">100+</p>
					<p class="font-semibold">Fornøyde</p>
					<p class="text-2xl">Kunder</p>
				</div>
			</div>
		</div>
		<div class="wrapper">
            <div class="tjenester">
                <h1>Tjenester</h1>
                <ul>
                    <li>Salg av elementhus</li>
                    <li>Arkitektbistand</li>
                    <li>Prosjekteringstjenester</li>
                    <li>Bygge og prosjektledelse</li>
                    <li>Montering, graving og elektrisk arbeid</li>
                </ul>
            </div>
        </div>
		<div class="target-section" id="target-section">
			<div class="content">
				<h4>NT Bolig</h4>
				<p>
					Vi er stolte av å være din pålitelige partner når det gjelder eiendomsutvikling. NT Bolig tilbyr skreddersydde løsninger for prosjekter av alle størrelser, fra småskala renoveringer til store boligutviklingsprosjekter. Med vår ekspertise, erfaring og lidenskap for kvalitetssikrede resultater, tar vi hånd om alle aspekter av eiendomsutvikling.</p>
			</div>
			<div class="column-image">
				<Image src={eidsvoll} class="imgy" alt="" loading="eager" />
			</div>
		</div>
		<div class="target-section">
			<div class="column-image">
				<Image src={halden5} class="imgy" alt="" loading="eager" />
			</div>
			<div class="content">
				<h4>Våre tjenester</h4>
				<p>NT Bolig tilbyr skreddersydde løsninger for eiendomsutvikling som passer dine behov og ønsker. Fra det øyeblikket du kontakter oss, tar vi deg med på en spennende reise fra idé til virkelighet. Enten du bygger et nytt hjem eller pusser opp, tilbyr vi et omfattende utvalg av høykvalitets huselementer. La vårt dedikerte team av fagfolk ta hånd om ditt eiendomsutviklingsprosjekt. Vi er her for å sikre at ditt prosjekt når sitt fulle potensiale.
				</p>
			</div>
		</div>
		<div class="parent-butt">
			<a href="/huselementer">
				<button class="butt">Les mer</button>
			</a>
		</div> 
	</div>
    </main>
    <Footer/>
    <script>
        const button = document.querySelector('.scroll-button');
        const targetSection = document.getElementById('target-section');

        button?.addEventListener('click', () => {
            if (targetSection) {
                targetSection.scrollIntoView({ behavior: 'smooth' });
            }
        });
    </script>
</Layout>


<style>

	:root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}
	body {
    	overflow-x: hidden;
  	}

	main {
		color: whitesmoke;
		font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		background-color: var(--bg-color);
	}

	.parent-butt {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 40px;
	}

	.butt {
		justify-content: center;
		align-items: center;
		width: 175px;
		border: 1px solid white;
	}

	.wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 50px;
    }

	.tjenester {
        display: flex;
        background-color: #21551ceb;
        color: rgb(221, 221, 221);
        width: 700px;
        border-radius: 50px;
        padding: 14px;
        margin: 8px;
    }

	@media (max-width: 500px) {
        .wrapper {
            padding-top: 50px;
        }

        .tjenester {
            display: block;
            width: 100%;
            padding: 8px;
        }
	}

	li {
        font-size: 18px;
        line-height: 30px;
    }

	.conteez {
		margin: 0 auto;
		max-width: 100%;
	}

	.conteez-grid {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		padding-bottom: 60px;
	}

	@media (min-width: 640px) {
		.conteez-grid {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	@media (min-width: 768px) {
		.conteez-grid {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	}


	.counters {
		line-height: 1;
		font-size: 3.75em;
		text-align: center;
		color: white;
	}

	.text-center {
		text-align: center;
	}

	.font-bold {
		color: white;
		font-size: 3.75rem;
    	line-height: 0em;
		font-weight: 700;
	}

	.font-semibold {
		font-size: 2.25rem;
    	line-height: 0rem;
		font-weight: 600;
		color: #428a3beb;
	}

	.text-2xl {
		font-size: 1.5rem;
    	line-height: 0rem;	
		color: white;
	}

		
	@media (min-width: 75em) {
		.conteez {
			padding: 0 1rem;
			max-width: 1200px;
		}
	}

	.container {
		width: 100%;
		height: 100vh;
	}

	.image-container {
		height: 100%;
	}

	.darkened {
		filter: brightness(0.5);
		object-fit: cover;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.content-wrapper {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.headline {
		width: max-content;
	}

	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 1.5em;
		font-weight: 500;
	}

	h4 {
		font-size: 1.3em;
		color: #2e8626;
	}

	p {
		font-family: "ModernEra", "Helvetica", sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: 1.25rem;
		line-height: 3rem;
		color: whitesmoke;
		overflow-wrap: break-word;
	}

	@media (max-width: 768px) {
		.text-container,
		.headline {
			width: 100%;
		}

		.content-wrapper {
			top: 30%;
		}

	    h1 {
	        font-size: 3em;
	    }

	    h2 {
	        font-size: 1.5em;
	    }

		.wrapper h1 {
			padding-top: 14px;
		}
	}

	.button-container {
		position: relative;
	}
	button {
		border: 2px solid white;
		padding: 10px 20px;
		background-color: transparent;
		color: whitesmoke;
		font-size: 1.5rem;
		cursor: pointer;
		border-radius: 8px;
	}

	button:hover {
		background: white;
		color: black;
	}

	.target-section {
		display: grid;
		gap: 1rem;
		padding: 60px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 45vh;
		background-color: var(--bg-color);
	}

	.content {
		color: ;
		width: 100%;
		height: 100%;
		padding: 15px;
	}

	.content h4 {
		font-size: 1.7em;
	}

	.column-image {
		position: relative;
		padding: 40px;
		overflow: hidden;
	}

	.column-image::before {
		content: '';
		position: absolute;
		top: 0;
		width: 200%;
		height: 100%;
		background-color: #12330feb;
		transform: skewX(-10deg);
	}

	.imgy {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 8px;
	}


	@media (max-width: 1036px) {
    .target-section {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .content {
        order: 1;
    }
    .column-image {
        order: 2;
		max-height: 400px;
		padding: 2px;
    }

	.column-image::before {
		height: 0;
		transform: none;
	}
}

</style>
