---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="NT Bolig - Om oss">
	<main>
		<Header backgroundColor="rgba(52, 56, 65, 1)"/>
	</main>
	<Footer/>
</Layout>

<style>
	:global(body) {
		background-color: whitesmoke;
	}
	main {
		font-size: 22px;
		height: 100vh;
	}
</style>
