---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import ommy from '../assets/ommy.png';

---

<Layout title="NT Bolig - Om oss">
	<Header backgroundColor="var(--bg-color-light)" border='none'/>
    <main>
        <div class="about-me">
            <h2>Hvem er NT Bolig?</h2>
            <p>
                I NT Bolig etterlever vi våre grunnleggende verdier som er å være ærlig, bry oss, ha vilje og lyst og være nytenkende i vår tilnærming til kunden og bruk av teknologi.
            </p>
            <p>
                NT Bolig er et firma som spesialiserer seg på levering av huselementer samt skreddersydde kjøkken og garderobeløsninger. Siden 2022 har vi levert omtrent 20 kjøkken og 10 garderober til våre kunder. Vår stolthet ligger i å levere produkter av høy kvalitet og å tilby ypperste kundeservice.
            </p>
            <Image src={ommy} class="logos" alt="header logo" loading="eager"/>
            <p>
                <strong>Ny spiller</strong>
            </p>
            <p>
                Vi er en ny og moderne eiendomsmeglerkjede som har som mål å gjøre bolighandelen enklere og mer effektiv for deg som kunde. Vi har fokus på å levere høy kvalitet i alle ledd, og vi er opptatt av å gi deg som kunde en trygg og god opplevelse.
            </p>
            <p>
                Vårt dedikerte team av eksperter er alltid klare til å veilede og assistere kundene gjennom hele prosessen, fra design og planlegging til installasjon. Vi er opptatt av å lytte til kundens ønsker og behov, og strekker oss langt for å oppfylle deres forventninger.
            </p>
        </div>
    </main>
    <Footer/>
</Layout>

<style>

    :root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}

    main {
		font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 4rem;
        justify-content: center;
        margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
        padding-bottom: 16px;
        min-height: 100vh;
    }

    body {
        background-color: var(--bg-color);
    }

    .about-me {
		justify-content: center;
		align-items: center;
        max-width: 800px;
        padding: 0 20px;
    }

    h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 1rem;
        padding-top: 3rem;
        color: white;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    	color: white;
    }

	strong {
		font-weight: 600;
        color: white;
	}

</style>


