---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import vvd from '../assets/vvd.webp';
import seven from '../assets/7-0.jpeg';
import salah from '../assets/salah.jpeg';
import klopp from '../assets/klopp.jpg';

---

<Layout title="NT Bolig - Om oss">
    <Header backgroundColor="rgba(52, 56, 65, 1)"/>
    <main>
        <div class="about-me">
            <h2>Hvem er NT Bolig?</h2>
            <p>
                I NT Bolig etterlever vi våre grunnleggende verdier som er å være ærlig, bry oss, ha vilje og lyst og være nytenkende i vår tilnærming til kunden og bruk av teknologi.
            </p>
            <p></p>
            <p>
                <strong>Ny spiller</strong>
            </p>
            <p>
                Vi er en ny og moderne eiendomsmeglerkjede som har som mål å gjøre bolighandelen enklere og mer effektiv for deg som kunde. Vi har fokus på å levere høy kvalitet i alle ledd, og vi er opptatt av å gi deg som kunde en trygg og god opplevelse.
            </p>
        </div>
		<h2>Møt teamet</h2>
		<div role="list" class="link-card-grid">
            <div class="img-grid">
                <Image class="img" src={vvd} alt="" loading="eager" title="virgil" />
                <p class="employe-title">Daglig leder i NT Bolig</p>
            </div>
            <div class="img-grid">
                <Image class="img" src={seven} alt="" loading="eager" title="warra performance" />
                <p class="employe-title">Teknisk direktør i NT Bolig</p>
            </div>
            <div class="img-grid">
                <Image class="img" src={salah} alt="" loading="eager" title="salah" />
                <p class="employe-title">Owner of Manchester United FC</p>
            </div>
            <div class="img-grid">
                <Image class="img" src={klopp} alt="" loading="eager" title="kloppo" />
                <p class="employe-title">CEO of NT Bolig</p>
            </div>
        </div>
    </main>
    <Footer/>
</Layout>

<style>
    :global(body) {
        background-color: whitesmoke;
    }

    main {
        font-size: 22px;
		font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 4rem;
        justify-content: center;
        margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
        padding-bottom: 16px;
    }

	img {
		width: 100%;
		height: 250px;
		border-radius: 4px;
		padding-right: 4px;
	}

    .about-me {
		justify-content: center;
		align-items: center;
        max-width: 800px;
        padding: 0 20px;
    }

    h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 1rem;
        padding-top: 3rem;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    	color: #292823;
    }

    .employe-title {
        text-align: center;
        margin-top: 2px;
    }

	strong {
		font-weight: 600;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 3rem;
		padding: 0;
	}

</style>


