---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="NT Bolig - Om oss">
    <Header backgroundColor="rgba(52, 56, 65, 1)"/>
	<main>
            <h4>Referanser</h4>
            <p>Les mer om v친re referanser. Her finner du informasjon om ulike prosjekter vi har gjennomf칮rt, hvor vi har bist친tt med alt fra salg av huselementer til eiendomsutvikling</p>
            <ul role="list" class="link-card-grid">
                <Card
                href="/referanse-snaroya"
                title="Etterspurt familiebolig p친 Snar칮ya"
                body="En ekslusiv bolig med flott utsikt over Oslofjorden. Vi har jobbet med byggefirmet for 친 levere huselementer."
            />
            <Card
                href=""
                title="Stilig rekkehus p친 L칮renskog"
                body="Vi har ferdigstilt et unikt rekkehus p친 L칮renskog. Her har vi bist친tt med prosjektledelse."
            />
            <Card
                href=""
                title="Deez Nuts"
                body="Brother, these nuts are the best nuts. 游볲"
            />
            <Card
                href=""
                title="Deez Nuts"
                body="What if I told you that these nuts are the best nuts? 游볲"
            />
        </ul>
            <h4>Prosjekter</h4>
            <p>Ulike prosjekter som er under utvikling. Her jobber vi med arkitektbistand, leveranse av huselementer og masse mer.</p>
            <ul role="list" class="link-card-grid">
                <Card
                href=""
                title="To eneboliger p친 Vinderen"
                body="Vi har levert huselementer til to eneboliger p친 Vinderen. Her har vi levert alt fra takstoler til innervegger."
            />
            <Card
                href=""
                title="Prosjektert enebolig over 3 plan"
                body="Hundre meter fra Stovner senter, kommer det fire flotte eneboliger. Her bist친r vi med ariktektbistand og ansvarsoppgaver."
            />
            <Card
                href=""
                title="Deez Nuts"
                body="These nuts are the best nuts. 游볲" 
            />
            <Card
                href=""
                title="Deez Nuts"
                body="Speaking of nuts, have you tried these nuts? 游볲"
            />
        </ul>
        </main>
        <Footer/>
</Layout>

<style>
    :global(body) {
		background-color: whitesmoke;
    }
	main {
		font-size: 22px;
        padding: 1rem;
        margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
	}

    h4 {
		font-size: 1.5rem;
        font-weight: 500;
		line-height: 1;
		text-align: left;
        margin: 2.7em 0 0.5em 0;
        color: black;
	}

    p {
        color: rgb(41, 40, 35);
        text-align: left;
        font-weight: 300;
    }

    .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 3rem;
		padding: 0;
	}

    :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
</style>
