---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="NT Bolig - Om oss">
	<main>
		<Header backgroundColor="rgba(52, 56, 65, 1)"/>
        <div class="slider-container">
            <h2>Snarøya på sitt beste</h2>
            <p>Ta en titt på resultatet av vårt arbeid på denne eneboligen på Snarøya. Her har vi...</p>
            <div class="slider">
                <img src="../../public/snaroya1.jpg" alt="Image 1">
                <img src="../../public/snaroya2.jpg" alt="Image 2">
                <img src="../../public/snaroya3.jpg" alt="Image 3">
                <img src="../../public/snaroya4.jpg" alt="Image 4">
            </div>
            <button class="prev" aria-label="Previous">&#10094;</button>
            <button class="next" aria-label="Next">&#10095;</button>
        </div>
	</main>
    <Footer/>
</Layout>

<style>

	:global(body) {
		background-color: whitesmoke;
	}
    main {
        font-size: 22px;
        flex-grow: 1;
        min-height: 100vh;
    }

	h2 {
		padding-top: 35px;
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
        margin: 1.5em 0 0.3em 0;
        color: black;
	}

	p {
		padding-bottom: 10px;
		font-size: 1.25rem;
		line-height: 1.6;
		text-align: center;
		margin: 0;
		color: black;
	}

	img {
		max-width: 100%;
		border-radius: 8px;
	}

    .slider-container {
        text-align: center;
        max-width: 700px;
        margin: auto;
        position: relative; /* Add position relative to slider container */
    }

    .slider {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        position: relative; /* Add position relative to slider */
    }

    .slider img {
        display: none;
        height: 600px;
        width: 650px;
        object-fit: cover;
    }

    @media (max-width: 600px) {
        .slider img {
            height: 300px;
            width: 325px;
        }
    }

    .slider img:first-child {
        display: block;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

</style>


<script>
    const prevBtn = document.querySelector('.prev');
    const nextBtn = document.querySelector('.next');
    const slides = document.querySelectorAll('.slider img');
    let currentIndex = 0;

    // Show the current slide
    const showSlide = () => {
        slides.forEach((slide, index) => {
            if (index === currentIndex) {
const imageSlide = slide as HTMLImageElement;
imageSlide.style.display = 'block';
            } else {
const imageSlide = slide as HTMLImageElement;
imageSlide.style.display = 'none';
            }
        });
    };

    // Move to the previous slide
    const prevSlide = () => {
        currentIndex = (currentIndex === 0) ? slides.length - 1 : currentIndex - 1;
        showSlide();
    };

    // Move to the next slide
    const nextSlide = () => {
        currentIndex = (currentIndex === slides.length - 1) ? 0 : currentIndex + 1;
        showSlide();
    };

	window.addEventListener('keydown', (event) => {
        switch (event.key) {
            case 'ArrowLeft':
                prevSlide();
                break;
            case 'ArrowRight':
                nextSlide();
                break;
        }
    });

    // Event listeners for navigation buttons
    prevBtn?.addEventListener('click', prevSlide);
    nextBtn?.addEventListener('click', nextSlide);
</script>
