---
import { Image } from 'astro:assets';
import huh from '../assets/huh.png';
import yy from '../assets/yy.png';
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>
<footer>
    <div class="footer">
        <div class="row">
            <a href="/">
                <Image src={huh} class="logos" alt="header logo" loading="eager"/>
            </a>
        <div class="info">
            <Image src={yy} alt="Email Icon" class="icon" loading="lazy"/>
            <a class="mail" href="mailto:Natnael@bluebirdgroup.no">Natnael@bluebirdgroup.no</a>
            <span>(933269698)</span>
        </div>
        <div class="row">
            <ul>
                <li><a href="/elementhus/">Elementhus</a></li>
                <li><a href="/prosjekter/">Prosjekter</a></li>
                <li><a href="/tjenester/">Våre tjenester</a></li>
                <li><a href="/kontakt-oss/">Kontakt oss</a></li>
            </ul>
        </div>
        <div class="row">
            <p>&copy; 2024 - NT Bolig</p>
        </div>
    </div>
</footer>
<style>

    :root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}
    body {
        margin: 0;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .footer {
        background: black;
        padding: 30px 0px;
        font-family: 'Play', sans-serif;
        text-align: center;
    }

    .icon {
        height: 19px;
        width: 25px;
        margin: 6px;
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
    }

    span {
        margin: 6px;
    }

    .mail {
        color: white !important;
        font-size: 1.2em;
    }

    .logos {
      height: 60px;
      width: 75px;
    }

    .footer .row {
        width: 100%;
        margin: 1% 0%;
        padding: 0.6% 0%;
        color: rgb(150, 143, 143);
        font-size: 0.8em;
    }

    .footer .row a {
        text-decoration: none;
        color: rgb(196, 188, 188);
        transition: 0.5s;
    }

    .footer .row a:hover {
        color: #fff;
    }

    .row p {
        color: white;
    }

    .footer .row ul li {
        display: inline-block;
        margin: 8px 5px;
        font-size: 1.2em;
        padding-right: 50px;
    }

</style>
