---
import { Image } from 'astro:assets';
import huh from '../assets/huh.png';
import yy from '../assets/yy.png';
import pin from '../assets/pin.png';
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>
<footer>
    <div class="footer">
        <div class="box">
            <div class="roddy">
                <Image src={pin} alt="Address Icon" class="piny" loading="lazy"/>
                <p class="addy">Pilestredet 75C, 0354 Oslo</p>
            </div>
            <div class="roddy">
                <Image src={yy} alt="Email Icon" class="icony" loading="lazy"/>
                <a class="mail" href="mailto:Natnael@bluebirdgroup.no">Natnael@bluebirdgroup.no</a>
            </div>
        </div>
        <div class="row">
        <div class="row">
            <ul>
                <li><a href="/elementhus/">Elementhus</a></li>
                <li><a href="/prosjekter/">Prosjekter</a></li>
                <li><a href="/tjenester/">Våre tjenester</a></li>
                <li><a href="/kontakt-oss/">Kontakt oss</a></li>
            </ul>
        </div>
        <div class="row">
            <p>&copy; 2024 - NT Bolig</p>
        </div>
    </div>
</footer>
<style>

    :root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}
    body {
        margin: 0;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    p {
        color: white;
    }

    .footer {
        background: black;
        padding: 50px 0px;
        font-family: 'Play', sans-serif;
        text-align: center;
    }

    .icony {
        height: 25px;
        width: 35px;
        display: flex;
        margin: 6px auto;
    }

    .piny {
        height: 30px;
        width: 35px;
        margin: 0 auto;
    }

    .box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
    }

    @media (max-width: 890px) {
        .box {
            display: flex;
            flex-direction: column;
        }

        .roddy {
            width: 70% !important;
        }
    }

    .roddy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: 150px;
        border: 1px solid #b7a388;
        margin: 10px;
        border-radius: 8px;
    }

    .icon {
        height: 19px;
        width: 25px;
    }

    .roddy p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addy,
    .mail {
        font-size: 1.1em !important;
    }

    .mail {
        color: white !important;
        font-size: 1.2em;
        word-wrap: break-word;
        text-decoration: none;
        padding-bottom: 12px;
        margin: 8px;
    }



    .logos {
      height: 60px;
      width: 75px;
    }

    .footer .row {
        width: 100%;
        margin: 1% 0%;
        padding: 0.6% 0%;
        color: rgb(150, 143, 143);
        font-size: 0.8em;
    }

    .footer .row a {
        text-decoration: none;
        color: rgb(196, 188, 188);
        transition: 0.5s;
    }

    .footer .row a:hover {
        color: #fff;
    }

    .row p {
        color: white;
    }

    .footer .row ul li {
        display: inline-block;
        margin: 8px 5px;
        font-size: 1.2em;
        padding-right: 50px;
    }

</style>
